@media (min-width: 768px) {
.container {
    max-width: 730px;
  }
}

/* Custom page header */
.header {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 10;
  margin-bottom: 0;
  line-height: 0px;
}

.top-buffer { margin-top: 50px; }

