@media (min-width: 768px) {
.container {
    max-width: 730px;
  }
}

.navbar-default {
  background-color: #e8e3a3;
  border-color: #e8e3a3;
}

.top-buffer { margin-top: 50px; 
 }
.top-big { margin-top: 200px; }

.navbar-default .navbar-nav > li > a {
  color: #00d097;
}


.smallcaps {text-transform: uppercase;}
